:root {
  --color-primary: #0fed19;
  --color-black: #000;
  --color-loading: #323232;
  --font-body: 'Anonymous Pro', sans-serif;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-black);
  color: var(--color-primary);
  font-family: var(--font-body);
  font-size: 19px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-black);
  color: var(--color-primary);
  text-align: center;
}

a,
a:visited,
a:active {
  color: var(--color-primary);
  font-weight: 800;
  text-decoration: none;
}

a:hover,
a:focus {
  opacity: 0.7;
}

canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#game-container {
  width: 100%;
  height: 100%;
}

#game {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('/images/statik.gif');
  background-position: center;
  background-repeat: repeat;
  background-size: auto 50vh;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-loading);
}

#loadingIndicator {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
}

#enterSite {
  position: fixed;
  top: 15%;
  left: 0;
  z-index: 1;
  width: 100%;
}

@media screen and (width >= 992px) {
  #enterSite {
    top: 10%;
  }
}
